<div class="container-form">
  <div class="container-form-child" >
    <div class="information">
      <div class="info-childs">
        <h2>Bienvenido {{ usuarioActual }}</h2>
        <p>
          {{ twoFactorEnabled ? 'Tu doble factor de autenticación está activo.' : 'Para más seguridad en el inicio de sesión, activa el doble factor de autenticación.' }}
        </p>
        <ng-container *ngIf="!twoFactorEnabled">
          <input type="button" value="Activar 2FA" id="sign-in" (click)="abrirFormularioActivar2FA()" />
        </ng-container>
        <!-- Aquí puedes añadir el texto adicional que necesitas -->
        <ng-container *ngIf="twoFactorEnabled">
          <p>Estás en el portal de Bienvenida</p>
        </ng-container>
      </div>
    </div>
    <div class="form-information">
      <div class="form-information-childs">
        <h2>Bienvenido {{ usuarioActual }}</h2>
        <p>Haz iniciado sesión correctamente</p>
        <form class="form" [formGroup]="bienvenido" (ngSubmit)="logout()">
          <input type="submit" value="Cerrar Sesión" />
        </form>
      </div>
    </div>
  </div>
</div>
